/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11101dad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11101ddf;
}

/* Disable blue highlight on button click */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* You can do the same for links */
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* You can do the same for div */
div {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.body-section {
  display: flex;
  flex-direction: column;
  background: var(--background-2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  backdrop-filter: (10px);
  transition: all 0.5s ease;
}



.body-section .main-content {
  position: relative;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.457); */
  overflow-wrap: break-word;

}



.sidebar {
  position: fixed;
  /* left: 10px; */
  height: 100%;
  width: 76px;
  background: var(--background-2);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  /* border-radius: 10px; */
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  border-right: 1px #ddd solid;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 48px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
}

.sidebar li {
  position: relative;
  margin: 13px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 41px;
  width: 100%;
  width: 40px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--prof-3);
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .ri-search-2-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--prof-3);
  color: #FFF;
}

.sidebar.open .ri-search-2-line:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .ri-search-2-line:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.8s ease;
  background: var(--background-3);
}

.sidebar li a:hover {
  background: #FFF;
}

.note-color-button{
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  transition: all 1s ease-in-out;
}
.button-is-active {
  opacity: 1;
  height: auto;
  transition: all 1s ease-in-out;
}

.active {
  transform: rotate(360deg);
}

.color-button{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 8px;
}

#red{
  background-color: #EE4266;
}
#green{
  background-color: #68B984;
}
#blue{
  background-color: #78C1F3;
}
#purple{
  background-color: #E26EE5;
}
#yellow{
  background-color: #FED049;
}
#orange{
  background-color: #FFA447;
}


.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  border-radius: 12px;
}

#add-icon{
  font-size: 30px;
}

.sidebar li.profile {
  height: 60px;
  width: 67px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 14px;
  background: var(--prof-3);
  transition: all 0.5s ease;
  overflow: hidden;
  margin: 0%;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--prof-3);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
  font-size: 19px;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}